
:root {
    --colorDanger400: #ff6752;    
    --colorColorPrimary: #9eff51;    
    --colorColorTertiary1: #4486ff;    
    --colorPrimary200: #afcbff;    
    --colorPrimary100: #e4eeff;    
    --colorColorSecondary: #00c2ff;    
    --colorColorTertiary3: #fff06a;    
    --colorSecondary200: #fff9c6;    
    --colorSecondary100: #fffef4;    
    --colorColorTertiary2: #ff4486;    
    --colorAccent300: #f493c5;    
    --colorAccent200: #facfe5;    
    --colorAccent100: #fde7f2;    
    --colorSuccess400: #00f985e3;    
    --colorSuccess300: #7ee2bb;    
    --colorSuccess200: #c6f2e1;    
    --colorSuccess100: #d4f5e8;    
    --colorDanger300: #ff8f80;    
    --colorDanger200: #ffcdc7;    
    --colorDanger100: #fff3f1;    
    --colorTextLight1: #ffffff;    
    --colorTextLight2: #a8aec8;    
    --colorTextLight3: #8b92ae;    
    --colorTextLight4: #515463;    
    --colorTextDark1: #000000;    
    --colorTextDark2: #525663;    
    --colorTextDark3: #8b92ae;    
    --colorTextDark4: #d7dbec;    
    --colorTextDark1: #000000;    
    --colorTextDark2: #525663;    
    --colorTextDark4: #ced0d8;    
    --colorBgDark: #2a2c34;    
    --colorBgDarkest: #12141d;    
    --colorBgLight: #ececec;    
    --colorBgLighter: #f6f6f6;    
    --colorBgLightest: #f8f8f8;    
    --colorBgDarker: #1e2029;    
    --colorColorPrimary: #9eff51;    
    --colorColorTertiary1: #4486ff;    
    --colorColorSecondary: #00c2ff;    
    --colorColorTertiary3: #fff06a;    
    --colorColorTertiary2: #ff4486;    
    --colorSuccess400: #00f985e3;    
    --colorSuccess200: #c6f2e1;    
    --colorDanger400: #ff6752;    
    --colorTextLight1: #ffffff;    
    --colorTextLight2: #a8aec8;    
    --colorTextLight3: #8b92ae;    
    --colorTextLight4: #515463;    
    --colorTextDark1: #000000;    
    --colorTextDark2: #525663;    
    --colorTextDark3: #8b92ae;    
    --colorTextDark4: #d7dbec;    
    --colorTextDark1: #000000;    
    --colorTextDark2: #525663;    
    --colorTextDark4: #ced0d8;    
    --colorBgDark: #2a2c34;    
    --colorBgDarker: #1e2029;    
    --colorBgDarkest: #12141d;    
    --colorBgLight: #ececec;    
    --colorBgLighter: #f6f6f6;    
    --colorBgLightest: #f8f8f8;    
}